@import "tailwindcss";

:root {
  --font-alumni: "Alumni Sans SC", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: #222222;
  color: white;
  position: relative;
}

.font__poppins {
  font-family: var(--font-poppins);
}

.bg__texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45vh;
  background: url('../public/assets/images/background_pattern.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  opacity: 0.5;
  z-index: -1;
}

.heading {
  font-family: var(--font-alumni);
}

button,
a {
  cursor: pointer;
}


.btn-1 {
  background-color: #B8D344;
  color: black;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 200px;
  cursor: pointer;
}

.btn-2 {
  background-color: #FFFFFF33;
  color: white;
  outline: 1px solid #B8D344;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 200px;
  cursor: pointer;
}

.btn-3 {
  background-color: #B8D344;
  color: black;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 12px 25px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.btn-4 {
  background-color: #FFFFFF33;
  color: white;
  outline: 1px solid #B8D344;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}


.section__header {
  font-family: var(--font-poppins);
}

/* top artist */
.top__artist {
  background-image: url('../public/assets/images/top_artist_bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* latest songs */
.latest__songs {
  background-image: url('../public/assets/images/latest_song_bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}